:root {
	--text-color: rgba( 80, 80, 0, 1 );
	--background-color: rgba( 255, 255, 0, 0.45 );
	--background-color: rgba( 226, 215, 115, 1 );
	
	--body-side-width: calc( ( 100% - 960px ) / 2 );
	
}

header .logo, #main-nav .button.open, #quick-contact, #slider .content {
	color: rgba( 255, 255, 255, 1 );
	text-shadow: 0 0 2px rgba( 0, 0, 0, 0.75 );
}

#about ul, #about li {
	margin-top: 0.4rem;
	
}

/* header:before, header .logo {
	float: left;
} */

/* header:after {
	float: right;
} */

/* header {
	box-sizing: border-box;
	padding-left: var( --body-side-width ); padding-right: var( --body-side-width );
	border: none;
	background-color: transparent;
} */

/* header:before, header:after {
	display: block;
	width: var( --body-side-width ); height: 3.2rem;
	content: "";
} */

/* header .logo {
	padding-left: 40px;
}

header .logo a {
	margin-left: 0.75rem;
	position: initial;
	font-size: 0.85rem; 
	text-transform: uppercase;
}

#main-nav {
	display: flex; flex-direction: column; align-items: center; justify-content: center;
	height: 3.2rem;
	position: absolute; left: var( --body-side-width );
//	background-color: rgba( 0, 0, 0, 0.75 );
}

#main-nav .button.open {
	position: relative; top: 0; margin-top: 0;
} */

/* #quick-contact, .quick-contact-items {
	position: initial;
}

#quick-contact {
	float: right;
//	display: inline-block;
	max-width: none;
//	margin-left: auto;
} */

#slider {
	position: relative;
}

#slider .title, #slider .sup-title {
	text-transform: uppercase;
}

#slider .sup-title {
	font-size: 0.85rem;
}

/* #slider .cover-image {
	opacity: 0.125;
} */

#slider .slide .cover-image {
//	display: none;
}

#slider .button.open, #main-nav .button.open {
	border-color: rgba( 255, 255, 255, 1 );
}

#main-nav.open .button.open {
	border-color: rgba( 0, 0, 0, 0.75 );
}

#main-nav.open .button.open:hover {
	color: rgba( 255, 255, 255, 1 );
}

#main-nav.open .button.open:after {
	background-color: rgba( 0, 0, 0, 0.75 );
}

#slider .button.open:after, #main-nav .button.open:after {
	background-color: rgba( 255, 255, 255, 1 );
}

#slider .button.open:hover, #main-nav .button.open:hover, #main-nav.open .button.open {
	color: rgba( 0, 0, 0, 0.75 );
}

#main-nav .button.open {
//	border: none;
	box-shadow: 0 0 1px rgba( 0, 0, 0, 0.75 );
}

#services, #send-email {
	z-index: 4;
	
}

#contact-info {
	z-index: 3;
}

/* #send-email {
	z-index: 4;
	
} */

#services {
//	margin-bottom: 4rem;
}

#services .header, #services .main > .button.close {
	display: none;
}

#services .main {
	padding-top: 4rem; padding-bottom: 4rem;
}

#services .main .title, #services .main .description {
	padding-left: 2.5rem; padding-right: 2.5rem;
	text-shadow: 0 0 2px rgba( 255, 255, 255, 1 );
}

/* #services .main .cover-image {
	height: 20rem;
	position: relative;
//	opacity: 0.85;
} */

.service {
	background-color: rgba( 255, 255, 255, 0.45 );
}

#services .service-title, #services .service .button.open {
	opacity: 1;
}

.service:after {
	background-color: rgba( 255, 255, 0, 0.45 );
}

.key {
	display: none;
}

.price {
	display: inline-block;
	margin-bottom: 1.25rem;
	position: relative; z-index: 2;
	font-family: "Arial Black";
	
}

.integer-part {
	font-size: 4rem;
	line-height: 1;
}

.fractional-part, .currency {
	position: absolute;
	left: 100%;
}

.fractional-part {
	top: 0;
	font-size: 1.4rem;
}

.currency {
	bottom: 0;
	font-family: Arial;
}

:root {
	--column-count: 10;
	--column-gap: 0.25rem;
	
}

#showcase, #live-templates {
	max-width: 960px; margin-left: auto; margin-right: auto;
	padding-top: 4rem;
}

.workpiece:last-of-type .cover-image:before /* , #live-templates .cover-image:before */ {
	background-color: rgba( 255, 255, 0, 0.2 );
	
}

/* .workpiece .header .button.open, */ /* .workpiece .main > .button.close */ {
	display: none;
}

.workpiece {
//	margin-bottom: 0.4rem;
	position: relative;
	overflow: hidden;
}

.workpiece .header {
//	height: 5rem;
	padding-top: 4rem; padding-bottom: 4rem;
//	transition: padding 0.2s;
}

/* .workpiece:hover .header, .workpiece.open .header {
//	height: 14rem;
	padding-top: 8rem; padding-bottom: 8rem;
} */

.workpiece .header {
	position: relative; z-index: 1;
}

.workpiece .main, .workpiece .header .button.open {
	transition-duration: 0.25s;
}

.workpiece .main {
	width: 100%;
	position: absolute; top: 100%; z-index: 5;
	transition-property: transform;
}

.workpiece.open .main {
	transform: translateY( -100% );
}

.workpiece .header .button.open {
	color: rgba( 255, 255, 255, 1 );
	box-shadow: 0 0 4px rgba( 0, 0, 0, 0.25 );
	text-shadow: 0 0 2px rgba( 0, 0, 0, 0.75 );
	transition-property: transform, opacity;
}

.workpiece.open .header .button.open {
	transform: translateY( -80% );
	opacity: 0;
}

.picture-array {
	counter-reset: counter;
}

.picture-array:after {
	display: block;
	clear: both;
	content: "";
}

.picture {
	float: left;
	width: calc( ( 100% - ( var( --column-count ) - 1 ) * var( --column-gap ) ) / var( --column-count ) ); height: 2rem;
	margin-right: var( --column-gap ); margin-top: var( --column-gap );
	position: relative;
//	background-color: red;
	/* color: rgba( 255, 255, 255, 1 ); */
	counter-increment: counter;
}

.picture:before {
	display: block;
	/* width: 1.25rem; height: 1.25rem; */
	position: absolute; left: 50%; top: 50%; transform: translate( -50%, -50% ); // z-index: 2;
	/* border-radius: 100%; border: 1px solid; */
//	color: inherit;
	font-family: "Arial Black"; font-size: 0.7rem;
	content: counter( counter );
}

.picture:nth-child( 10n + 10 ) {
	margin-right: 0;
}

.picture:nth-child( -n + 10 ) {
	margin-top: 0;
}

.picture a {
	width: 100%; height: 100%;
	position: absolute; left: 0; top: 0;
//	border: 1px solid;
}

.cover-image, .cover-image:before, .picture a:before {
	display: block;
	width: 100%; height: 100%;
	position: absolute; left: 0; top: 0;
}

.cover-image:before, .picture a:before {
	background-color: rgba( 255, 255, 0, 0.4 );
	content: "";
}

.picture a:before {
	background-color: rgba( 255, 255, 0, 0.25 );
}

#live-templates .body {
	display: flex; flex-direction: column; align-items: center; justify-content: center;
}

/* .workpieces-array {
	display: flex; flex-direction: column; align-items: center; justify-content: center;
} */

.workpiece {
	overflow: visible;
}

#live-templates .title {
	text-align: center;
}

.workpieces-array .cover-image:before {
	display: none;
}

.button.open.link, .button.open.link:before, .button.open.link:after /* , .button.open.link .cover-image */ {
//	border-radius: 50%; border-radius: 1.25rem;
}

.button.open.link .cover-image {
	border-style: solid; 
	overflow: hidden;
}

.button.open.link {
	display: block; 
	padding: 0; 
	position: relative; z-index: 1;
//	border: none; border-width: 10px; // border-color: transparent; 
	overflow: visible;
	box-shadow: 0 0 5px var( --text-color );
	transition-property: box-shadow, opacity; transition-duration: 0.2s;
}

.button.open.link:hover {
	z-index: 4;
	box-shadow: 0 0 15px var( --text-color );
}

.button.open.link:hover:before {
	transform: scale( 1.2 );
	opacity: 0;
}

/* .button.open.link:before {
	box-sizing: border-box;
	display: block;
	width: 100%; height: 100%;
	position: absolute; left: 0; top: 0;
//	background-color: rgba( 255, 255, 0, 1 );
	border: 10px solid; border-color: var( --text-color ); // border-color: var( --background-color );	
	content: "";
	transform: scale( 1 );
	transition-property: transform, opacity; transition-duration: 0.25s, 0.4s;
} */

.button.open.link:after {
	box-sizing: border-box; 
	display: none;
	width: 100%; height: 100%; padding-top: 0; margin: 0; left: 0; top: 0;
//	background-color: rgba( 255, 255, 0, 1 ); background-color: transparent; 
	border-style: solid; border-width: 10px; // border-radius: 0; 
	transform: none; 
	opacity: 1;	
}

.button.open.link:hover:after {
//	transform: scale( 0 );
}

/* .button.open.link:hover {
	box-shadow: 0 0 25px var( --text-color );
} */

.button.open.link {
	width: 18rem; height: 10rem;
	margin-bottom: 1.25rem;
	overflow: hidden;
}

/* .button.open.link:after {
	display: none;
} */

.workpieces-array:hover .button.link {
	opacity: 0.25;
}

.workpieces-array:hover .button.link:hover {
	opacity: 1;
}

.workpieces-array .cover-image {
	background-position: center top;
}





















