/*-----------------------------------------------------------------*/
/*	LAYOUT
/*-----------------------------------------------------------------*/

/* #about, #about header, #about header h2, #about header p, #about header a, #about main, #about article p {
	position: relative;
} */

/*-----------------------------------------------------------------*/
/*	TYPOGRAPHY
/*-----------------------------------------------------------------*/



/*-----------------------------------------------------------------*/
/*	COLOR
/*-----------------------------------------------------------------*/

/* #about {
	color: rgba( 0, 0, 0, 0.75 );
	background-color: red;
} */


/*-----------------------------------------------------------------*/
/*	IMAGERY
/*-----------------------------------------------------------------*/


/*-----------------------------------------------------------------*/
/*	USER INTERACTIONS
/*-----------------------------------------------------------------*/


/*-----------------------------------------------------------------*/
/*	EFFECTS
/*-----------------------------------------------------------------*/


/*-----------------------------------------------------------------*/
/*	MEDIA QUERIES
/*-----------------------------------------------------------------*/

@media screen and ( max-width: 640px ) {
	
	#about .main article, #about .main > .button.close {
		margin-left: 1.25rem; margin-right: 1.25rem;
	}
	
	#about .main > .button.close {
		left: 0;
	}
	
}
	













	
	
	
	
	
	
